<p id="notice"><%= notice %></p>
<h1>Full Schedule</h1>
<ul class="list-group">
<% @lunchdates.each do |date| %>
  <li class="list-group-item text-center <%= date.date.today? ? 'list-group-item-secondary' : '' %>"><span class="badge badge-secondary"><%= date.date.strftime('%A, %B %d') %></span><br>
  <strong><%= link_to date.teammate_a.name, date.teammate_a %></strong> is treating <strong><%= link_to date.teammate_b.name, date.teammate_b %></strong> </strong> to lunch.</li>
<% end %>
</ul>
<%= link_to "Recreate Lunch Dates", lunchdates_create_path, class: "btn btn-danger" %>

